

#lists {
  background-image: url(../img/list-bg.png);
  padding: 2%;
  font-size: 20px;
}
#list1 {
  margin-left: 20%;
  float: left;
  list-style-type:square;
}
#list2 {
  margin-left: 70%;
  list-style-type:square;
}

#linedpaper {
  position: absolute;
  z-index: 1;
} 

#bio>a {
  background-color: rgb(185, 94, 52);
  padding: 1em;
  float: right;
  text-decoration: none;
  color: none;
}

#bio>img{
  float: left;
}

footer {
  margin-top: 50px;
  margin-left: 4%;
  text-align: center;
}

section>div {
  margin-top: 5%;
  margin-left: 5%;
  line-height: 25px;
}

=======
* {
  width: 960px;
}
Header {
  height: 200px;
}
.hrOne {
  border: 0;
  height: 25px;
  background-image: url(../img/hr-img.png);
  background-repeat: repeat;
  width: 100%;
  margin-top: 30px;
}

.imgOne{
  height: 50px;
  width: 50px;
  float: left;
}

.h1One {
  font-size: 30px;
}

.h2One {
  font-size: 15px;
}

.ulOne {
  text-align: right;
}

.ulTwo {
  text-align: right;
} 
 
main p {
  /* text-align: center; */
  margin-top: 30px;
  width: 945px;
  text-indent: 3%;
  font-size: 20.5px;
  
}

main a {
  text-align: right;
}

